# fly.toml app configuration file generated for trellix-relay on 2024-06-17T16:43:04+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'trellix-relay'
primary_region = 'lhr'

[build]
dockerfile = './Dockerfile'

[env]
PORT = '3000'
SUPABASE_URL = 'https://gusxqhuqpahbwohiioms.supabase.co'

[http_service]
internal_port = 3000
force_https = true
auto_stop_machines = true
auto_start_machines = true
min_machines_running = 1
processes = ['app']

[[http_service.checks]]
interval = '30s'
timeout = '5s'
grace_period = '20s'
method = 'GET'
path = '/health'

[[vm]]
cpu_kind = 'shared'
cpus = 1
memory_mb = 1024
