@import "tailwindcss";
@source '../node_modules/@remix-relay/ui';

@theme {
  --animate-fade: fade 400ms ease-in 50ms both;
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
